<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>

    <div>
      <h1> <%= listTitle %> </h1>
    </div>
     
      
  <% for (let i = 0; i < listItems.length; i++) {  %>

    <p><%= listItems[i] %>  </p>
  
  <% }  %>      


    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item">
        <!-- made the name of the button list because i'll be changing lists dynamically -->
        <button type="submit" name="list" value=<%= listTitle %> >+</button>
    </form>


  </body>
</html>
