<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>

  <body>

    <h1><%= date %> </h1>
    <ul>
      <li>Go to school </li>
      <li>Go back home</li>
      <li>Let me be mad</li>
      
     <% for (let i = 0; i<newListItem.length; i++){ %>  
        <li> <%= newListItem[i] %> </li>
      <% }  %> 
    </ul>

    <form action="/" method="post">
        <input type="text" name="newTask" placeholder="Enter new task">
    </form>





  </body>
</html>
