<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>

  <body>
    <%if ( date === "sat" || date === "Sunday" ){ %>
        <h1 style="color: red"><%= date %> Todolist</h1>
    <%}else { %>
        <h1 style="color: blue"><%= date %> Todolist</h1>
    <%} %>
  </body>
</html>
